// 注釈リスト
//
// Markup:
// <ul class="c-notes-list">
// <li class="c-notes-list__li">※リスト内容</li>
// <li class="c-notes-list__li">※リスト内容</li>
// <li class="c-notes-list__li">※リスト内容</li>
// </ul>
//
// Styleguide 6.1
.c-notes-list {}
.c-notes-list__li {
	list-style-type: none;
	text-indent: -1em;
}

// リストマークがないリスト
//
// Markup:
// <ul class="c-nomark-list">
// <li class="c-nomark-list__li">リスト内容</li>
// <li class="c-nomark-list__li">リスト内容</li>
// <li class="c-nomark-list__li">リスト内容</li>
// </ul>
//
// Styleguide 6.2
.c-nomark-list {
	padding-left: 0;
}
.c-nomark-list__li {
	list-style-type: none;
	padding-left: 0;
}

// 水平並びリスト
//
// Markup:
// <ul class="c-horizontal-list">
// <li class="c-horizontal-list__li">リスト内容</li>
// <li class="c-horizontal-list__li">リスト内容</li>
// <li class="c-horizontal-list__li">リスト内容</li>
// </ul>
//
// Styleguide 6.3
.c-horizontal-list {
	padding-left: 0;
}
.c-horizontal-list__li {
	list-style-type: none;
	padding-left: 0;
	padding-right: 20;
	display: inline;
}

// 注釈定義・説明リスト
//
// Markup:
// <dl class="c-notes-dl">
// <dt class="c-notes-dl__dt">※語句</dt>
// <dd class="c-notes-dl__dd">定義や説明テキスト。定義や説明テキスト。</dd>
// <dt class="c-notes-dl__dt">※語句</dt>
// <dd class="c-notes-dl__dd">定義や説明テキスト。定義や説明テキスト。</dd>
// </dl>
//
// Styleguide 6.4
.c-notes-dl {
	padding: 0;
	margin-left: 0;
	margin-right: 0;
}
.c-notes-dl__dt {
	padding: 0;
	margin: 0;
	float: left;
	clear: left;
	border: 0 none;
	font-weight: normal;
}
.c-notes-dl__dd {
	padding: 0 0 0 5px;
	margin: 0;
	float: none;
	font-weight: normal;
	display: block;
	overflow: hidden;
	zoom: 100%;
}

